<form action="/geo" method="POST">
  <label for="street">Street</label>
  <input type="text" name='street'>
  <label for="number">Number</label>
  <input type="text" name="number">
  <label for="city">City</label>
  <input type="text" name="city">
  <button type="submit">Add location</button>
</form>
