<div class="bg">
  <div class="container top-center">
    <div class="title">
      <h1> Find a Course </h1>
    </div>
    <form action="/courses" method="GET">
      <div>     
        <select class="form-control" name="course">
        {{#each courses}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
        </select>
        <br>
        <button class="btn btn-primary">Find</button>
      </div>
    </form>
  </div>
</div>