<div class="bg">
  <div class="container top-center">
    <div class="title">
      <h1> Find a Course </h1>
    </div>

    <form action="/courses" method="GET">
      <div class="input-group mb-3">
        <input type="course" class="form-control" name="course" value="{{course.name}}">
      </div>
      <button class="btn btn-primary" type="submit">Filter</button>
    </form>

  </div>
</div>

