<div class="bg">
    <div class="row top-center justify-content-md-center">
      <div class="col-md-6">
         <h1 class="card-title h3-teacher">Teachers</h1>
           <div class="card">
            <form action="/courses" method="GET">
             <div>     
                {{#each users}}
               <ul class="list-group">
                 <a href="/user/{{id}}"><li class="list-group-item list-group-item-secundary">{{name}}</li></a>
               </ul>
               {{/each}}
             </div>
           </form>
          </div>
       </div>
    </div>
</div>